body.blue-white-theme {
  background-color: #add8e6;
  color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.input-field {
  margin: 10px auto 20px auto;
  padding: 8px;
  width: 180px; 
  border: 3px solid #000; 
  display: block;
  box-sizing: border-box;
}

.action-button {
  padding: 10px 15px;
  margin: 20px auto;
  cursor: pointer;
  background-color: #fff;
  border: 3px solid #000; 
  display: block;
  width: 180px; 
  font-weight: bold; 
  box-sizing: border-box;
}

.action-button:hover {
  background-color: #e7e7e7;
}

.response-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}


.login-active #registerForm {
  display: none;
}

.login-active #login-toggle-btn {
  display: block;
}

.login-active #loginForm {
  display: block;
}

.register-active #loginForm {
  display: none;
}

.register-active #register-toggle-btn {
  display: block;
}

.register-active #registerForm {
  display: block;
}
